<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= @user.title %>
			</h1>
		</td>
		<td class="sidebar round">
      <strong>Company</strong><br /><%= @user.title %><br />
      <strong>Contact</strong><br /><%= @user.email <br />%>
      <strong>Site</strong><br /><a href="http://www.peta.org">http://www.peta.org</a><br />
		</td>
	</tr>
</table>
