$page-width: 800px;
$default_link_hover_color: #00c;
$default_link_visited_color: #09c;
$default_link_color: #CC1118;
$background: #ffb817;

@mixin link-default {
    &:hover {
        color: $default_link_hover_color;
        text-decoration: underline;
    }
    &:visited { color: $default_link_visited_color; }
}

@mixin rounded-generic($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

.container {
    width: $page-width;
    margin: auto;
}

body { background: $background; }

header {
    padding: 1em;
    background: white;
    @include rounded_generic(10px);
    div { clear: both; }
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: white;
    h1 { font-size: 200% }
}

a {
    color: $default_link_color;
    text-decoration: none;
    @include link-default;
}

nav {
    float: right;
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;

    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            display: inline-block;
            padding: 0.2em 0;
            a {
                padding: 0 5px;
                font-weight: bold;
                @include link-default;
            }
        }
    }
}

footer {
    margin: {
        left: auto;
        right: auto;
        top: 10px;
    }
    width: $page_width;
    text-align: center;
    nav { float: none; }
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: white;
    background: #CE1507;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

.round { @include rounded-generic(10px); }

table .profile {
    width: 100%;
    margin-bottom: 1em;
}

td .main {
    width: 70%;
    padding: 1em;
}

td .sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
}

div.field, div.actions { margin-bottom: 10px; }

.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: red;
    display: table;
}

.field_with_errors label { color: white; }

#error_explanation {
    width: $page_width / 2px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
    }
    p {
        color: #333;
        margin-bottom: 0;
        padding: 5px;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}
